<!DOCTYPE html>
<html lang="es">
    <head>
    	<title> Little Friend </title>
    	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
        
        <!--Seccion para enlazar a otras hojas-->
        
        <link rel="stylesheet" href="css/fontello.css">
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="css/menu.css">
        <link rel="stylesheet" href="servicios.html">
        <link rel="stylesheet" href="contacto.html">
        
    </head>
    
    <body>
        
        <!-- Primera parte de la pagina y menu -->
        
        <header>
            <div class="contenedor">
                <h1><img src="Img/Logo.png" align="left"> Little Friend </h1>
                <input type="checkbox" id="menu-bar">
                <label class="icon-menu" for="menu-bar"></label>
                <nav class="menu">
                    <a href="index.html"> Inicio </a>
                    <a href="#Nosotros"> Nosotros </a>
                    <a href="servicios.html"> Servicios </a>
                    <a href="contacto.html"> Contacto </a>
                </nav>
            </div>
        </header>
        
        <!-- Creacion imagenes que se corren -->
        
        <main>
            <section id="banner">
                <div class="slider">
                    <ul>
				        <li><img src="Img/1.jpg" alt=""></li>
                        <li><img src="Img/2.jpg" alt=""></li>
                        <li><img src="Img/3.jpg" alt=""></li>
                        <li><img src="Img/4.jpg" alt=""></li>
			         </ul>
		          </div>
            </section>
            
            <!-- Creacion del resto de la pagina -->
            
            <section id="Bienvenidos">
                <h2> ¡Bienvenidos a la clinica veterinaria Little Fiend!</h2>
                <p>La clinica veterinaria Little Friend es un establecimiento con el compromiso de brindarle la mejor atención a todos nuestros pacientes con la mayor dedicación y compromiso otorgandoles un servicio de alta calidad, con un gran equipo de especialistas. </p>
                <br>
            </section>
            
            <br>
            
            <section id="Nosotros">
                <h2> Nosotros </h2>
                <div class="contenedor">
                    <article>
                    <p> Little Friend fue fundada en el año 1990. Durante todos estos años de servicio hemos entregado la mejor atencion a todos nuestros pequeños amigos, tenemos el compromiso de brindarle la mejor atencion a todos nuestros pacientes con la mayor dedicacion, otorgando un servicio de alta calidad, con un gran equipo de especialistas.
                    Nuestra misión es compartir con ustedes nuestra labor de cuidar, promover y mantener la salud de su mascota, este es un lugar en el cual podra encontrar todo lo que usted y su mascota necesita.
                    Nos comprometemos a darles la mejor atencion a todos nuestros pacientes que nos visitan día a día.</p>
                    <br><br>
                    </article>
                    <article>
                        <img src="Img/5.jpg">
                    </article>
                    <br><br>
                    
                </div>
            </section>
            
            <!-- Creacion parte final de la pagina -->
            
            <footer>
                <div class="datos">
                    <p class="copy"> Little Friend &copy; 2019</p>
                    <div class="redes">
                        <a class="icon-facebook-squared" href="#"></a>
                        <a class="icon-twitter" href="#"></a>
                        <a class="icon-instagram" href="#"></a>
                        <a class="icon-whatsapp" href="#"></a>
                        <h4 class="icon-location">Antonio Varas 666, Providencia</h4>
                        <h4 class="icon-phone"> +569 40754488</h4>
                    </div>
                </div>
            </footer>
        </main>
    </body>
</html>